@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

body {
    font-family: 'NanumBarunGothic', sans-serif;
}

h1, h2 {
    text-align: center;
}

.chat {
    max-width: 414px;
    border: solid 1px #EEE;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 30px auto 0;
    border-radius: 10px;
}

.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.yours {
    align-items: flex-start;
}

.yours .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
}

.yours .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
}

.yours .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
}

#output {
    color: white;
    font-weight: 700;
    background: #00D0EA;
}

#output:before {
    background: #00D0EA;
}

#output svg {
    transform: translate(0, 2px);
}

.mine {
    align-items: flex-end;
}

.mine .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #72DF72 0%, #64C466 100%);
    background-attachment: fixed;
    position: relative;
}

.mine .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #72DF72 0%, #64C466 100%);
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
}

.mine .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 8px;
    gap: 8px;
}

.input-wrapper {
    flex-grow: 1;
    padding: 8px 15px;
    border: 1px solid #EEE;
    border-radius: 10px;
}

#input {
    width: 100%;
    border: none;
    resize: none;
    overflow: hidden;
    min-height: 30px;
}

#input:focus {
    outline: none !important;
}

#run {
    width: 52px;
    height: 52px;
    border: 1px solid #64C466;
    border-radius: 10px;
    background: #64C466;
    transition: ease all 0.2s;
    cursor: pointer;
}

#run:hover {
    border: 1px solid #72DF72;
    background: #72DF72;
}

#run svg {
    transform: translate(0, 3px);
}

.info {
    max-width: 800px;
    margin: 20px auto 0;
    padding: 10px;
}

table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #444444;
    padding: 10px;
}

.tc {
    text-align: center;
}